langchain
langchain_community
pandasai==2.4.2
pandas
ollama 
streamlit
groq
langchain-groq
python-dotenv
scikit-learn
numpy==1.26.4
scipy==1.15.0
seaborn
datetime
os
dotenv
matplotlib
